<p><%= link_to "戻る", :back %></p>
<%= form_with model: @match do |form| %>
  <p>
    <%= form.label :節 %><br>
    <%= form.text_field :Sec %><br>
    <%= form.label :日時%><br>
    <%= form.text_field :Date %><br>
    <%= form.label :会場 %><br>
    <%= form.text_field :Venue %><br>
    <%= form.label :対戦チーム %><br>
    <%= form.text_field :Oppnent %><br>
    <%= form.label :試合結果 %><br>
    <%= form.text_field :Score %><br>
    <%= form.label :スタメン %><br>
    <% for i in 1..11 %>
      <%= form.select :"Starting#{i}", @members, {include_blank: '選択してください'} %><br>
    <% end %>
    <%= form.label :サブ %><br>
    <% for i in 1..9 %>
      <%= form.select :"Substitute#{i}", @members, {include_blank: '選択してください'} %><br>
    <% end %>    
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>