<h1>試合一覧</h1>
<%= link_to '新規' , new_match_path %>
<ul>
  <% @matches.each do | game | %> 
  <li>
    <%= game.Sec %>
    <%= game.Date %>
    <%= game.Venue %>
    <%= game.Oppnent %>
    <%= link_to '[詳細]',match_path(game) %>
    <%= link_to '[編集]',edit_match_path(game) %>
    <%= link_to '[消去]',match_path(game),
      data: {turbo_method: 'delete',turbo_confirm: 'Are you sure?'} %>
  </li>
  <% end %>
</ul>
