<h1>試合情報</h1>
<p><%= link_to "戻る", :back %></p>
<h2>2022九州大学サッカーリーグ<%= @match.Sec %> vs <%= @match.Oppnent %></h2>
<p><%= @match.Date %></p>
<p><%= @match.Venue %></p>
<p>熊本大学<%= @match.Score %><%= @match.Oppnent %></p>
<p>STARTING MEMBER</p>
<%= @match.Starting1 %><br>
<%= @match.Starting2 %><br>
<%= @match.Starting3 %><br>
<%= @match.Starting4 %><br>
<%= @match.Starting5 %><br>
<%= @match.Starting6 %><br>
<%= @match.Starting7 %><br>
<%= @match.Starting8 %><br>
<%= @match.Starting9 %><br>
<%= @match.Starting10 %><br>
<%= @match.Starting11 %><br>
<p>SUBSTITUTE MEMBER</p>
<%= @match.Substitute1 %><br>
<%= @match.Substitute2 %><br>
<%= @match.Substitute3 %><br>
<%= @match.Substitute4 %><br>
<%= @match.Substitute5 %><br>
<%= @match.Substitute6 %><br>
<%= @match.Substitute7 %><br>
<%= @match.Substitute8 %><br>
<%= @match.Substitute9 %><br>