<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>試合一覧画面</title>
</head>

<body>
  <h1>試合情報</h1>
  
  <a href="/matches" class="btn btn--orange btn--radius">戻る</a>
  
  <h2 class="heading03">2022九州大学サッカーリーグ<%= @match.Sec %> vs <%= @match.Oppnent %></h2>
  
  <h4 class="date"><%= @match.Date %></h4>
  <h4 class="venue"><%= @match.Venue %></h4>
  <h3 class="score">熊本大学<%= @match.Score %><%= @match.Oppnent %></h3>
  
  <div class="flex_test-box">
    <div class="flex_test-item">
      <table class="table table-striped">
        <thead>
          <th scope"col1" class="th">STARTING MEMBER</th>
        </thead>
        <tbody>
          <tr><td><%= @match.Starting1 %></td></tr>
          <tr><td><%= @match.Starting2 %></td></tr>
          <tr><td><%= @match.Starting3 %></td></tr>
          <tr><td><%= @match.Starting4 %></td></tr>
          <tr><td><%= @match.Starting5 %></td></tr>
          <tr><td><%= @match.Starting6 %></td></tr>
          <tr><td><%= @match.Starting7 %></td></tr>
          <tr><td><%= @match.Starting8 %></td></tr>
          <tr><td><%= @match.Starting9 %></td></tr>
          <tr><td><%= @match.Starting10 %></td></tr>
          <tr><td><%= @match.Starting11 %></td></tr>
        </tbody>
      </table>
    </div>
  
    <div class="flex_test-item">  
      <table class="table table-striped">
        <thead>
          <th scope"col1" class="th">SUBSTITUTE MEMBER</th>
        </thead>
        <tbody>
          <tr><td><%= @match.Substitute1 %></td></tr>
          <tr><td><%= @match.Substitute2 %></td></tr>
          <tr><td><%= @match.Substitute3 %></td></tr>
          <tr><td><%= @match.Substitute4 %></td></tr>
          <tr><td><%= @match.Substitute5 %></td></tr>
          <tr><td><%= @match.Substitute6 %></td></tr>
          <tr><td><%= @match.Substitute7 %></td></tr>
          <tr><td><%= @match.Substitute8 %></td></tr>
          <tr><td><%= @match.Substitute9 %></td></tr>
        </tbody>
      </table>
    </div>
  </div>
  
</body>
